footer {
  background-color: var(--color-primary);
  min-height: 8rem;
  padding: 1.6rem 8rem;
  color: var(--color-font-secondary);
  bottom: 0;
  left: 0;
  width: 100%;
}

.logo-section-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.1rem;
}

.logo-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: transform 0.4s;
  background-color: var(--color-primary-lighter);
}

.logo-footer-container:hover {
  transform: scale(1.2);
}

.logo-footer-container:active {
  transform: scale(1.1);
  /* background-color: blue; */

}

.logo-footer {
  width: 30px;
  filter: var(--filter-white);
}

.linkedin-logo:hover {
  background-color: var(--color-linkedin);
}

.linkedin-logo:hover img {
  filter: var(--filter-white);
}

.github-logo:hover {
  background-color: var(--color-github);
}

.email-logo:hover {
  background-color: var(--color-email);
}

.x-logo:hover {
  background-color: var(--color-x);
}

.telegram-logo:hover {
  background-color: var(--color-telegram);
}

.whatsapp-logo:hover {
  background-color: var(--color-whatsapp);
}

.copyright-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light-body);
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 2rem 1rem;
  }

  .logo-section-footer {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .logo-footer-container {
    width: 6rem;
    height: 6rem;
  }

  .logo-footer {
    width: 45px;
  }
}