body {
    background-color: #0A0D1F;
    color: #98B9F2;
    font-family:'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
}

.section-title {
    color: #0A0D1F;
    background-color: #306BAC;
    padding: 15px 30px;
    text-align: center;
}

.myName {
    font-family: 'Roboto';
    margin-top: 30px;
}

.button {
    color: #0A0D1F;
    background-color: #306BAC;
    padding: 15px 30px;
    text-align: center;
    text-decoration:none;
    margin: 0px 10px;
}

.description {
    max-width: 30%;
    vertical-align: middle;
}

.location {
    text-align: center;
}

.personal-block {
    display: inline-block;
    max-width: 50%;
}

img {
    background-color: #98B9F2;
    padding: 20px;
    border-radius: 100%;
    width: 300px;
}

.personal-informations {
    vertical-align: middle;
}

.location {
    background-color: #98B9F2;
    color: #0A0D1F;
    padding: 5px;
    width: 150px;
    margin-left: 90px;
    
}

li {
    list-style-type: square;
    margin: 5px;
}

.header {
    margin-bottom: 30px;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 30px;
}