@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Josefin+Sans:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--color-dark-font);
  color: var(--color-primary);
}

:root {
  --color-primary: #1a202c;
  --color-primary-lighter: #2f384a;
  --color-header: #0b2d41;
  --color-white: #efd8ef;
  --color-font-secondary: #00d2cc;
  --color-beige: #deb887;
  --color-dark-body: #07121a;
  --color-dark-font: #d7d3df;
  --color-light-body: #ebebeb;
  --color-button-hover-1: #5a5b6d;
  --color-linkedin: #0366c8;
  --color-github: #171515;
  --color-whatsapp: #25d366;
  --color-telegram: #0088cc;
  --color-email: #6c48fc;
  --color-x: #000000;
  --color-gray: #a7a9ce;
  --filter-gray: invert(66%) sepia(21%) saturate(323%) hue-rotate(198deg) brightness(100%) contrast(90%);
  --filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(106%) contrast(104%);
}

main {
  min-height: calc(100vh - 18rem);
  padding: 0 8rem;
}

::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(to bottom, var(--color-header), var(--color-primary));
}

::-webkit-scrollbar-thumb {
  background: var(--color-button-hover-1);
  border-radius: 10px;
}
