header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  height: 6rem;
  max-height: 6rem;
  background-color: var(--color-header);
  color: var(--color-font-secondary);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.site-logo-header {
  height: 5rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.site-logo-header:hover {
  transform: scale(0.95);
}

.site-logo-header:active {
  transform: scale(0.9);
}

.header-link-container {
  display: flex;
  align-items: center;
}

.header-link {
  font-family: "Gabarito", serif;
  margin-left: 2rem;
  color: var(--color-font-secondary);
  font-size: 1.4rem;
  font-weight: 300;
  transition: transform 0.3s;
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-white);
  transform: scale(1.1);
}

.header-link:active {
  transform: scale(1);
}

.color-mode-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 5px;
  border-radius: 100%;
  font-weight: 500;
  transition: transform 0.3s;
  cursor: pointer;
  margin-left: 2rem;
  transition: transform 0.3s;
  box-shadow: 0 0 1rem #12161f;
  
}

.color-mode-icon {
  width: 1.4rem;
  height: 1.4rem;
}

.color-mode-button:hover {
  background-color: var(--color-primary-lighter);
  transform: scale(1.4);
}

.color-mode-button:active {
  transform: scale(1.2);
}